.DS_Store
Thumbs.db
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
**/certs/
**/*.pem
**/*.key

hr-portal-backend/node_modules/
hr-portal-backend/pids
hr-portal-backend/lib-cov
hr-portal-backend/coverage/
hr-portal-backend/.nyc_output/
hr-portal-backend/.vscode/
hr-portal-backend/.idea/

hr-portal-frontend/node_modules/
hr-portal-frontend/dist/
hr-portal-frontend/build/
hr-portal-frontend/.svelte-kit/
hr-portal-frontend/.next/
hr-portal-frontend/out/

.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?